//$menu-out: #95f6d6;
$enchanted-color: #fbdcdb;
$ench_font_color: #542c32;
$french-color: #fbf3fb;
$papilla-color: #ebebeb;
$taste-color: #fbfcfb;
$bann-color: #539b84;
$bgcolor: #F5F3DF;
$font-color: #fccc44;
$joy-color: #ad74a3;
$sweet-color: #9b6cbb;
$appetite-color: #cc8437;

@font-face {
  font-family: 'kalam';
  src: url('../police/kalam/Kalam-Light.ttf');
  font-style: normal;
  font-weight: normal;
}

body{
  background-image: url("../image/marbre3.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
    
@keyframes waiting{
  0% {
      transform: translateY(0);
  }
  8%{
      transform: translate(-50%);
  }
  16% {
      transform: translateY(-100%);
  }
  24%{
      transform: translateY(-200%);
  }
  32%{
      transform: translateY(-100%);
  }
  40%{
      transform: translateY(-50%);
  }
  48%{
      transform: translateY(0);
  }
  56%{
      transform: translateY(50%);
  }
  64%{
      transform: translateY(100%);
  }
  72%{
      transform: translateY(200%);
  }
  80%{
      transform: translateY(100%);
  }
  90%{
      transform: translateY(50%);
  }
  100%{
      transform: translateY(5%);
  }
}

header{
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  padding: 0.2%;
  font-family:'freebooter_scriptregular';
  text-shadow: 4px 6px 4px darken($font-color,15),0px 0px 7px black;
  text-align: center;
  font-size: 7em;
  color: $font-color;
  transform: scale(1);
  transition: transform 2000ms cubic-bezier(.32, 0, .07, 1);
  &:hover{
      transform: scale(1.2);
  }
}

.bann{
  border: 2px solid $font-color;
  background-color: $bann-color;
  box-shadow: 12px 12px 2px darken($bann-color,10) ;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2, h3, h4{
  text-align: center;
}

h4{
  font-family: 'england_hand';
  font-size: 2em;
  &:hover + .uline{
      transform: scaleX(1);}  
  }

.underl{
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.uline{
  position: absolute;
  top: 100px;
  width: 70%;
  height: 10px;
  background-color: $ench_font_color;
  transform-origin: 0% 50%;
  transform: scaleX(0);
  transition: transform 2000ms cubic-bezier(.32, 0, .07, 1);
  &-tt{
     background-color: green;  
  }
  &-pp{
      background-color: blue;
  }
  &-ppmd{
      background-color: #0670f3;
  }
  &-pped{
      background-color: #3ba8f8;
  }
  &-app{
     background-color: $appetite-color; 
  }
  &-joy{
     background-color: $joy-color; 
  }
  &-swe{
     background-color: $sweet-color; 
  }
}

article{
  width: 100%;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 20%;
}

@mixin degfont($color1,$color2){
  background: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.do{
  margin-bottom: 0%;
  margin-top: 0%;
  margin-left: 42%;
  font-size: 5em;
  z-index: -1;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
  width: 80%;
  box-shadow: 18px 18px 20px 12px silver,3px 3px grey; 
  margin: 10%;
  border: 2px darken(yellow,20);
  &__slate{
    font-family: 'Merienda One', cursive; 
    //text-shadow: 2px 2px 2px darken(grey,15);
    transform: scale(1) 2000ms cubic-bezier(.32, 0, .07, 1);
    &--title{
      font-size: 2.5em;
      }
    &--ench{
      margin-top: 2%;
      font-family: 'Ma Shan Zheng', cursive;
      color: $ench_font_color;
      font-size: 3em;
      &-M{
        font-size: 2.5em;
        color: $ench_font_color;
      }
      }
    &--french{
      font-family: 'Cookie', cursive;
      @include degfont (#cc8437,#9b6cbb);
      font-size: 3em;
      &-M{
        font-size: 2.5em;
        color: #cc8437;
      }
      }
    &--papil{
      font-family: 'Dancing Script', cursive;
      @include degfont (#093de2,#0889fb);
      font-size: 3em;
      &-M{
        font-size: 2.5em;
        color: #093de2;
      }
      }
    &--taste{
      font-family: 'Merienda One', cursive;
       @include degfont (#3e923a,#beff7f);
      font-size: 2.5em;
      &-M{
        font-size: 2.5em;
        color: #3e923a;
      }
      }
    }
  &:hover > .menu__slate{
      transform: scale(1.2);
  }
  
}

.wedge{
  width: 30%;
  height: 50%;
}

@mixin line ($url-img) {
  width: 100%;
  height: 60px;
  background-image: url($url-img);
  background-repeat: no-repeat;
  background-size: cover;
  &-R{
     transform: rotateY(180deg);
  } 
}

.chapt{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    
    &__line{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        height:50px;
        &--ench{
            @include line ($url-img: '../image/li-ench.png');
        }
        &--appetite{
            @include line ($url-img: '../image/li-appetite.png');
        }
        &--joy{
             @include line ($url-img: '../image/li-joy.png');     
        }
        &--sweetened{
            @include line ($url-img: '../image/li-sweet.png');  
        }
        &--papil{
            @include line ($url-img: '../image/li-papil.png');
            }
        &--pdk{
          @include line ($url-img: '../image/li-pdk.png');
        }
        &--pdk2{
        @include line ($url-img: '../image/li-pdk2.png');
        }     
        &--taste{
            @include line ($url-img: '../image/li-taste.png');
            }
        }
    }

@mixin card ($color){
  margin-top: 15%;
  margin-bottom: 30%;
  font-size: 1.3em;
  font-family: 'kalam';
  background-color: $color;
  border: 2px solid darken($color,10);
  &--slate{
  background-color: $color;
  position: relative;
  z-index: 1;
  &:hover {
    &::after {
        opacity: 1;
    }
  }
  &::after {
    content:" ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darken($color, 10);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
  }
}

.enchanted{
  @include card ($enchanted-color);
  &__subtitle{
  font-family: 'Ma Shan Zheng', cursive; 
  font-weight: bold;
  font-size: 4em;
    &--cat{
      font-family: 'kalam';
    }
    &--end{
      font-family: 'Ma Shan Zheng', cursive; 
      font-size: 2em;
    }
  }
  &--slate{
    padding-top: 13%;
    padding-bottom: 12%;
  }
  &__img{
  font-size: 5em;

    &--top{
      font-size: 6em;  
    }
    &--down{
      margin-top: 5%;
      font-size: 3em;  

    }
  }
}

span{
  background: -webkit-gradient(linear, left top, right bottom, from(#f15d61), to(#f6916a));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.french{
  @include card ($french-color);
  &__subtitle{
    font-size: 4em;
    font-family: 'Cookie', cursive;
    @include degfont (#cc8437,#9b6cbb);
  }
}

.appetite{
  font-family: 'comic sans ms';
  color: $appetite-color;
}

.joy{
  color: $joy-color;
}

.sweetened{
  color: $sweet-color;
}

.papilla{
  @include card ($papilla-color);
  &__subtitle{
    font-size: 4em;
    font-family: 'Dancing Script', cursive; 
     @include degfont (#093de2,#0889fb);
    &--cat{
      font-family: 'kalam';
    }
  }
}

.taste{
  @include card($taste-color);
  &__subtitle{
    font-family: 'Merienda One', cursive; 
    @include degfont (#3e923a,#beff7f);
  }
}

.eat{
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  &__dish{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    &__price{
        font-weight: bolder;
    }
  }
}

.front{
  display: inline-block;
  color: yellow;
  text-shadow: 4px 6px 4px darken(yellow,15);
  text-align: center;
  font-size: 2em;
}

.part{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#soon{
  color: $font-color;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  margin-bottom: 35%;
}

.wait{
  display: flex;
  flex-direction: row;
  background-color: #539b84;
  &__point{
    background-color: $font-color;
    width: 8px;
    height: 8px;
    border-radius: 25px;
    margin-left: 15%;
    transform: translateY(0);
    animation-name: waiting;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;}
}
.two{
  animation-delay: 200ms;
}
.three{
  animation-delay: 400ms;
}
.dimtest{
  margin-top: 17%;
  width: 90px;
  height: 40%;
}

footer{
  padding-top: 1%;
  position: fixed;
  bottom: 2px;
  z-index: 1;
  width: 100%;
  height: auto;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a{
  text-decoration: none;
  &:visited{
      color: darken($font-color,20);
  }
}

@keyframes wizzle {
2% {
  transform: translate(1px, 5px) rotate(-5.5deg) scale(1.1); }
32% {
  transform: translate(2px, 10px) rotate(-0.5deg); }
38% {
  transform: translate(-7px, 9px) rotate(5.5deg) scale(1.2); }
48% {
  transform: translate(-6px, -2px) rotate(-2.5deg) scale(1.1); }
52% {
  transform: translate(5px, 10px) rotate(-1.5deg) scale(1.1); }
60% {
  transform: translate(4px, -5px) rotate(3.5deg) scale(1.2); }
66% {
  transform: translate(-8px, -9px) rotate(-2.5deg); }
76% {
  transform: translate(2px, 5px) rotate(-1.5deg) scale(1.1); }
82% {
  transform: translate(-9px, -4px) rotate(0.5deg); }
86% {
  transform: translate(-7px, 6px) rotate(-0.5deg) scale(1.2); }
90% {
  transform: translate(1px, -3px) rotate(-0.5deg) scale(1.2); }
98% {
  transform: translate(-8px, -7px) rotate(-2.5deg); }
}

.btn{
  color: $font-color;
  font-size: 1.5em;
  text-shadow: 4px 6px 4px darken(yellow,15);
  &:hover{
    animation-name: wizzle;
    animation-timing-function: ease-in-out;
    animation-duration: 1500ms;
  }
}

//==================== MEDIA =====================

@media screen and (max-width:1000px){
  h1{
     font-size: 5em;

  }
  h2{
    display: none;
  }
  %card{
    margin-top: 15%;
    margin-bottom: 30%;
    font-size: 0.95em;
    font-family: 'kalam';
  }
  .menu{
    margin: 10%;
    &--title{
    font-size: 1.3em;}
  }
  #soon{
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
   #footer{
    font-size: 1em;}
}
//==================== 700px=======================
@media screen and (max-width:700px){
  h1{
    font-size: 3em;
  }
  #header{
     width: 100%;
    height: auto;

  }
  %card{
    margin-top: 15%;
    margin-bottom: 30%;
    font-size: 0.7em;
    font-family: 'kalam';
}
   .menu{
    margin: 10%;
    width: 100%;
     &__slate{
      width: 90%;
      background-image: url('../image/lit-menu.png'); 
       background-repeat: repeat;

       display: block;
     }
     &__title{
         font-size: 1.9em;
     }
  }

  #footer{
    font-size: 0.82em;}

  #top, #down{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn:active{
    animation-name: wizzle;
    animation-timing-function: ease-in-out;
    animation-duration: 1500ms;}

  .enchanted{

  &__img{
    &--top{
      width: 35px;
      height: 35px;
    }
    &--down{
     display: none;
    }
    }
 }
  img{
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  .uline{
    display: none;
  }
}
