//$menu-out: #95f6d6;
$enchanted-color: #fbdcdb;
$ench_font_color: #542c32;
$french-color: #fbf3fb;
$papilla-color: #ebebeb;
$taste-color: #fbfcfb;
$bann-color: #539b84;
$bgcolor: #F5F3DF;

@font-face {
 font-family: 'freebooter_scriptregular';
    src: url('freebooterscript-webfont.eot');
    src: url('../police/freeb/freebooterscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/freeb/freebooterscript-webfont.woff2') format('woff2'),
         url('../police/freeb/freebooterscript-webfont.woff') format('woff'),
         url('../police/freeb/freebooterscript-webfont.ttf') format('truetype'),
         url('../police/freeb/freebooterscript-webfont.svg#freebooter_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'england_hand';
    src: url('../police/englandh/england-webfont.eot');
    src: url('../police/englandh/england-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/englandh/england-webfont.woff2') format('woff2'),
         url('../police/englandh/england-webfont.woff') format('woff'),
         url('../police/englandh/england-webfont.ttf') format('truetype'),
         url('../police/englandh/england-webfont.svg#england_hand_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kalam';
    src: url('../police/kalam/Kalam-Light.ttf');
    font-style: normal;
     font-weight: normal;
}




body{
    background-image: url("../image/marbre3.jpg");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
@keyframes waiting{
    0% {
        transform: translateY(0);
    }
    8%{
        transform: translate(-50%);
    }
    16% {
        transform: translateY(-100%);
    }
    24%{
        transform: translateY(-200%);
    }
    32%{
        transform: translateY(-100%);
    }
    40%{
        transform: translateY(-50%);
    }
    48%{
        transform: translateY(0);
    }
    56%{
        transform: translateY(50%);
    }
    64%{
        transform: translateY(100%);
    }
    72%{
        transform: translateY(200%);
    }
    80%{
        transform: translateY(100%);
    }
    90%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(5%);
    }
}

header{
    width: 100%;
    height: 40%;
    background-image: url("../image/decoo.png");
   background-repeat: no-repeat;
    background-size: cover;
}

h1{
    padding: 0.2%;
    font-family:'freebooter_scriptregular';
    text-shadow: 4px 6px 4px darken(yellow,15),0px 0px 7px black;
    text-align: center;
    font-size: 7em;
    color: yellow;
    transform: scale(1);
    transition: transform 2000ms cubic-bezier(.32, 0, .07, 1);
    &:hover{
        transform: scale(1.2);
    }
}

.bann{
    border: 2px solid yellow;
    background-color: $bann-color;
    box-shadow: 12px 12px 2px darken($bann-color,10) ;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}



img {
  max-width: 100%;
  height: auto;
}

//ne peut pas  &<spc>h4 ??????????
h2, h3, h4{
    text-align: center;
}
h4{
    font-family: 'england_hand';
    font-size: 2em;
    &:hover + .uline{
        transform: scaleX(1);}  
    }

.underl{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.uline{
    position: absolute;
    top: 100px;
    width: 70%;
    height: 10px;
    background-color: $ench_font_color;
    transform-origin: 0% 50%;
    transform: scaleX(0);
    transition: transform 2000ms cubic-bezier(.32, 0, .07, 1);
    &-tt{
       background-color: green;  
    }
    &-pp{
        background-color: blue;
    }
    &-fr{
       background-color: blueviolet; 
    }
}

article{
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 20%;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 80%;
    box-shadow: 18px 18px 20px 12px silver,3px 3px grey; 
    margin: 10%;
    border: 2px darken(yellow,20);
    &--title{
        font-size: 1.5em;
        color: darken(yellow,20);
        text-shadow: 4px 6px 4px darken(yellow,15);
        }
}

.wedge{
    width: 30%;
    height: 50%;
}
    

@mixin line ($url-img) {
            width: 100%;
            height: 60px;
            background-image: url($url-img);
            background-repeat: no-repeat;
            background-size: cover;
            &-R{
                 transform: rotateY(180deg);
            } 
}

.chapt{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    
    &__line{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        height:50px;
        &--ench{
            @include line ($url-img: '../image/li-ench.png');
        }
        &--appetite{
            @include line ($url-img: '../image/li-appetite.png');
        }
        &--joy{
             @include line ($url-img: '../image/li-joy.png');     
        }
        &--sweetened{
            @include line ($url-img: '../image/li-sweet.png');  
        }
        &--papil{
            @include line ($url-img: '../image/li-papil.png');
                &-pdk{
                    @include line ($url-img: '../image/li-pdk.png');
               /* width: 100%;
                height: 50px;
                background-image: url('../image/li-pdk.png');
                background-repeat: no-repeat;
                background-size: contain;
                &-R{
                   transform: rotateY(180deg);
                }*/
                &-pdk2{
                    @include line ($url-img: '../image/li-pdk2.png'); 
                /*width: 100%;
                height: 50px;
                background-image: url('../image/li-pdk2.png');
                background-repeat: no-repeat;
                background-size: contain;
                &-R{
                   transform: rotateY(180deg); }*/
                    }
                }
            }
           
        &--taste{
            @include line ($url-img: '../image/li-taste.png');
            }
        }
    }


%card{
    margin-top: 15%;
    margin-bottom: 30%;
    font-size: 1.3em;
    font-family: 'kalam';
}

@mixin card ($color){
    margin-top: 15%;
    margin-bottom: 30%;
    font-size: 1.3em;
    font-family: 'kalam';
     background-color: $color;
    border: 2px solid darken($color,10);
    &--slate{
    background-color: $color;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:" ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: darken($color, 10);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
  }
}

.enchanted{
    @include card ($enchanted-color);
   /* @extend %card;
    background-color: $enchanted-color;
    border: 2px solid darken($enchanted-color,10);
    &--slate{
    background-color: $enchanted-color;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:" ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: darken($enchanted-color, 10);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
  }*/
    &__subtitle{
        font-weight: bolder;
        font-size: 1.5em;
    }
    &__img{
        border: 2px solid green;
        background-image: url('../image/note.png');
        background-size: contain;
        background-repeat: no-repeat;
        &--top{
               
            width: 7%;
            height: 50px;
        }
        &--down{
            margin-top:13%;
            width: 90px;
            height: 90px;
        }
    }
}

.french{
    @include card ($french-color);
   /* @extend %card;
    background-color: #fbf3fb;
    border: 2px solid #f0d8fb;
    &--slate {
    background-color: $french-color;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:" ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: darken($french-color, 10);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
  }*/
}
.appetite{
    font-family: 'comic sans ms';
    color: #cc8437;
}
.joy{
    color: #ad74a3;
}
.sweetened{
    color: #9b6cbb;
}

.papilla{
      @extend %card;
    background-color: #ebebeb;
    border: 2px solid #f4caff;
     &--slate {
    background-color: $papilla-color;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:" ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: darken($papilla-color, 10);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        }
    }
    &__subtitle{
        font-weight: bolder;
        font-size: 5em;
        color: blue;

    }
}

.taste{
      @extend %card;
    background-color: #fbfcfb;
    border: 2px solid #d0f3c6;
     &--slate {
    background-color: $taste-color;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:" ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: darken($taste-color, 10);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
  }
}

.eat{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    &__dish{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        &__price{
            font-weight: bold;
        }
    }
}

.front{
    display: inline-block;
    color: yellow;
    text-shadow: 4px 6px 4px darken(yellow,15);
    text-align: center;
    font-size: 2em;
}

.part{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#soon{
    color: yellow;
    display: flex;
    flex-direction: row;
    /*padding-left: 1em;
    padding-right: 2em;*/
    border-radius: 50px;
    margin-bottom: 35%;
}

.wait{
    display: flex;
    flex-direction: row;
    background-color: #539b84;
    &__point{
        background-color: yellow;
        width: 8px;
        height: 8px;
        border-radius: 25px;
         margin-left: 15%;
        transform: translateY(0);
        animation-name: waiting;
         animation-duration: 1500ms;
        animation-iteration-count: infinite;}
}
.two{
    animation-delay: 200ms;
}
.three{
    animation-delay: 400ms;
}
.dimtest{
        margin-top: 17%;
        width: 90px;
        height: 40%;
    }

footer{
      background-image: url("../image/decob.png");
   // background-repeat: ;
    padding-top: 1%;
    position: fixed;
    bottom: 2px;
    z-index: 1;
    width: 100%;
    height: auto;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    text-decoration: none;
    &:visited{
        color: darken(yellow,20);
    }
}


@keyframes wizzle {
  2% {
    transform: translate(1px, 5px) rotate(-5.5deg) scale(1.1); }
  32% {
    transform: translate(2px, 10px) rotate(-0.5deg); }
  38% {
    transform: translate(-7px, 9px) rotate(5.5deg) scale(1.2); }
  48% {
    transform: translate(-6px, -2px) rotate(-2.5deg) scale(1.1); }
  52% {
    transform: translate(5px, 10px) rotate(-1.5deg) scale(1.1); }
  60% {
    transform: translate(4px, -5px) rotate(3.5deg) scale(1.2); }
  66% {
    transform: translate(-8px, -9px) rotate(-2.5deg); }
  76% {
    transform: translate(2px, 5px) rotate(-1.5deg) scale(1.1); }
  82% {
    transform: translate(-9px, -4px) rotate(0.5deg); }
  86% {
    transform: translate(-7px, 6px) rotate(-0.5deg) scale(1.2); }
  90% {
    transform: translate(1px, -3px) rotate(-0.5deg) scale(1.2); }
  98% {
    transform: translate(-8px, -7px) rotate(-2.5deg); }
}
.btn{
    background-color: green;
    margin-bottom: 15%;
    color: yellow;
    text-shadow: 4px 6px 4px darken(yellow,15);
   border: 2px solid yellow;
    border-radius: 20%;
    box-shadow: 4px 6px 4px darken(yellow,15);
    &:hover{
        animation-name: wizzle;
        animation-timing-function: ease-in-out;
        animation-duration: 1500ms;
    }
}


//==================== MEDIA =====================

@media screen and (max-width:1000px){
    h1{
         font-size: 5em;

    }
    h2{
        display: none;
    }
    %card{
    margin-top: 15%;
    margin-bottom: 30%;
    font-size: 0.95em;
    font-family: 'kalam';
}
    .menu{
        margin: 10%;
        &--title{
        font-size: 1.3em;}
    }
    #soon{
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
     #footer{
        font-size: 1em;}
}
//==================== 700px=======================
@media screen and (max-width:700px){
    h1{
        font-size: 3em;
    }
    #header{
         width: 100%;
        height: auto;

    }
    %card{
    margin-top: 15%;
    margin-bottom: 30%;
    font-size: 0.7em;
    font-family: 'kalam';
}
     .menu{
        margin: 10%;
        width: 100%;
         &__slate{
            width: 90%;
            background-image: url('../image/lit-menu.png'); 
             background-repeat: repeat;

             display: block;
         }
         &__title{
             font-size: 1.9em;
         }
    }
    
    #footer{
        font-size: 0.82em;}
    
    #top, #down{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .btn:active{
        animation-name: wizzle;
        animation-timing-function: ease-in-out;
        animation-duration: 1500ms;}
   
    .enchanted{
 
    &__img{
        &--top{
            width: 35px;
            height: 35px;
        }
        &--down{
           display: none;
        }
      }
   }
    img{
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
    .uline{
        display: none;
    }
}
