@font-face {
  font-family: 'freebooter_scriptregular';
  src: url("freebooterscript-webfont.eot");
  src: url("../police/freeb/freebooterscript-webfont.eot?#iefix") format("embedded-opentype"), url("../police/freeb/freebooterscript-webfont.woff2") format("woff2"), url("../police/freeb/freebooterscript-webfont.woff") format("woff"), url("../police/freeb/freebooterscript-webfont.ttf") format("truetype"), url("../police/freeb/freebooterscript-webfont.svg#freebooter_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'england_hand';
  src: url("../police/englandh/england-webfont.eot");
  src: url("../police/englandh/england-webfont.eot?#iefix") format("embedded-opentype"), url("../police/englandh/england-webfont.woff2") format("woff2"), url("../police/englandh/england-webfont.woff") format("woff"), url("../police/englandh/england-webfont.ttf") format("truetype"), url("../police/englandh/england-webfont.svg#england_hand_dbregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kalam';
  src: url("../police/kalam/Kalam-Light.ttf");
  font-style: normal;
  font-weight: normal; }
body {
  background-image: url("../image/marbre3.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center; }

@keyframes waiting {
  0% {
    transform: translateY(0); }
  8% {
    transform: translate(-50%); }
  16% {
    transform: translateY(-100%); }
  24% {
    transform: translateY(-200%); }
  32% {
    transform: translateY(-100%); }
  40% {
    transform: translateY(-50%); }
  48% {
    transform: translateY(0); }
  56% {
    transform: translateY(50%); }
  64% {
    transform: translateY(100%); }
  72% {
    transform: translateY(200%); }
  80% {
    transform: translateY(100%); }
  90% {
    transform: translateY(50%); }
  100% {
    transform: translateY(5%); } }
header {
  width: 100%;
  height: 40%;
  background-image: url("../image/decoo.png");
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  padding: 0.2%;
  font-family: 'freebooter_scriptregular';
  text-shadow: 4px 6px 4px #b3b300, 0px 0px 7px black;
  text-align: center;
  font-size: 7em;
  color: yellow;
  transform: scale(1);
  transition: transform 2000ms cubic-bezier(0.32, 0, 0.07, 1); }
  h1:hover {
    transform: scale(1.2); }

.bann {
  border: 2px solid yellow;
  background-color: #539b84;
  box-shadow: 12px 12px 2px #417a68; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

h2, h3, h4 {
  text-align: center; }

h4 {
  font-family: 'england_hand';
  font-size: 2em; }
  h4:hover + .uline {
    transform: scaleX(1); }

.underl {
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.uline {
  position: absolute;
  top: 100px;
  width: 70%;
  height: 10px;
  background-color: #542c32;
  transform-origin: 0% 50%;
  transform: scaleX(0);
  transition: transform 2000ms cubic-bezier(0.32, 0, 0.07, 1); }
  .uline-tt {
    background-color: green; }
  .uline-pp {
    background-color: blue; }
  .uline-fr {
    background-color: blueviolet; }

article {
  width: 100%; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 20%; }

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
  width: 80%;
  box-shadow: 18px 18px 20px 12px silver,3px 3px grey;
  margin: 10%;
  border: 2px #999900; }
  .menu--title {
    font-size: 1.5em;
    color: #999900;
    text-shadow: 4px 6px 4px #b3b300; }

.wedge {
  width: 30%;
  height: 50%; }

.chapt {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around; }
  .chapt__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 50px; }
    .chapt__line--ench {
      width: 100%;
      height: 60px;
      background-image: url("../image/li-ench.png");
      background-repeat: no-repeat;
      background-size: cover; }
      .chapt__line--ench-R {
        transform: rotateY(180deg); }
    .chapt__line--appetite {
      width: 100%;
      height: 60px;
      background-image: url("../image/li-appetite.png");
      background-repeat: no-repeat;
      background-size: cover; }
      .chapt__line--appetite-R {
        transform: rotateY(180deg); }
    .chapt__line--joy {
      width: 100%;
      height: 60px;
      background-image: url("../image/li-joy.png");
      background-repeat: no-repeat;
      background-size: cover; }
      .chapt__line--joy-R {
        transform: rotateY(180deg); }
    .chapt__line--sweetened {
      width: 100%;
      height: 60px;
      background-image: url("../image/li-sweet.png");
      background-repeat: no-repeat;
      background-size: cover; }
      .chapt__line--sweetened-R {
        transform: rotateY(180deg); }
    .chapt__line--papil {
      width: 100%;
      height: 60px;
      background-image: url("../image/li-papil.png");
      background-repeat: no-repeat;
      background-size: cover; }
      .chapt__line--papil-R {
        transform: rotateY(180deg); }
      .chapt__line--papil-pdk {
        width: 100%;
        height: 60px;
        background-image: url("../image/li-pdk.png");
        background-repeat: no-repeat;
        background-size: cover;
        /* width: 100%;
         height: 50px;
         background-image: url('../image/li-pdk.png');
         background-repeat: no-repeat;
         background-size: contain;
         &-R{
            transform: rotateY(180deg);
         }*/ }
        .chapt__line--papil-pdk-R {
          transform: rotateY(180deg); }
        .chapt__line--papil-pdk-pdk2 {
          width: 100%;
          height: 60px;
          background-image: url("../image/li-pdk2.png");
          background-repeat: no-repeat;
          background-size: cover;
          /*width: 100%;
          height: 50px;
          background-image: url('../image/li-pdk2.png');
          background-repeat: no-repeat;
          background-size: contain;
          &-R{
             transform: rotateY(180deg); }*/ }
          .chapt__line--papil-pdk-pdk2-R {
            transform: rotateY(180deg); }
    .chapt__line--taste {
      width: 100%;
      height: 60px;
      background-image: url("../image/li-taste.png");
      background-repeat: no-repeat;
      background-size: cover; }
      .chapt__line--taste-R {
        transform: rotateY(180deg); }

.french, .papilla, .taste {
  margin-top: 15%;
  margin-bottom: 30%;
  font-size: 1.3em;
  font-family: 'kalam'; }

.enchanted {
  margin-top: 15%;
  margin-bottom: 30%;
  font-size: 1.3em;
  font-family: 'kalam';
  background-color: #fbdcdb;
  border: 2px solid #f6afad;
 /* @extend %card;
  background-color: $enchanted-color;
  border: 2px solid darken($enchanted-color,10);
  &--slate{
  background-color: $enchanted-color;
  position: relative;
  z-index: 1;
  &:hover {
      &::after {
          opacity: 1;
      }
  }
  &::after {
      content:" ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: darken($enchanted-color, 10);
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms;
  }
}*/ }
  .enchanted--slate {
    background-color: #fbdcdb;
    position: relative;
    z-index: 1; }
    .enchanted--slate:hover::after {
      opacity: 1; }
    .enchanted--slate::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #f6afad;
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms; }
  .enchanted__subtitle {
    font-weight: bolder;
    font-size: 1.5em; }
  .enchanted__img {
    border: 2px solid green;
    background-image: url("../image/note.png");
    background-size: contain;
    background-repeat: no-repeat; }
    .enchanted__img--top {
      width: 7%;
      height: 50px; }
    .enchanted__img--down {
      margin-top: 13%;
      width: 90px;
      height: 90px; }

.french {
  background-color: #fbf3fb;
  border: 2px solid #f0d8fb; }
  .french--slate {
    background-color: #fbf3fb;
    position: relative;
    z-index: 1; }
    .french--slate:hover::after {
      opacity: 1; }
    .french--slate::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #eecdee;
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms; }

.appetite {
  font-family: 'comic sans ms';
  color: #cc8437; }

.joy {
  color: #ad74a3; }

.sweetened {
  color: #9b6cbb; }

.papilla {
  background-color: #ebebeb;
  border: 2px solid #f4caff; }
  .papilla--slate {
    background-color: #ebebeb;
    position: relative;
    z-index: 1; }
    .papilla--slate:hover::after {
      opacity: 1; }
    .papilla--slate::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #d2d2d2;
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms; }
  .papilla__subtitle {
    font-weight: bolder;
    font-size: 5em;
    color: blue; }

.taste {
  background-color: #fbfcfb;
  border: 2px solid #d0f3c6; }
  .taste--slate {
    background-color: #fbfcfb;
    position: relative;
    z-index: 1; }
    .taste--slate:hover::after {
      opacity: 1; }
    .taste--slate::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #dee6de;
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms; }

.eat {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column; }
  .eat__dish {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .eat__dish__price {
      font-weight: bold; }

.front {
  display: inline-block;
  color: yellow;
  text-shadow: 4px 6px 4px #b3b300;
  text-align: center;
  font-size: 2em; }

.part {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

#soon {
  color: yellow;
  display: flex;
  flex-direction: row;
  /*padding-left: 1em;
  padding-right: 2em;*/
  border-radius: 50px;
  margin-bottom: 35%; }

.wait {
  display: flex;
  flex-direction: row;
  background-color: #539b84; }
  .wait__point {
    background-color: yellow;
    width: 8px;
    height: 8px;
    border-radius: 25px;
    margin-left: 15%;
    transform: translateY(0);
    animation-name: waiting;
    animation-duration: 1500ms;
    animation-iteration-count: infinite; }

.two {
  animation-delay: 200ms; }

.three {
  animation-delay: 400ms; }

.dimtest {
  margin-top: 17%;
  width: 90px;
  height: 40%; }

footer {
  background-image: url("../image/decob.png");
  padding-top: 1%;
  position: fixed;
  bottom: 2px;
  z-index: 1;
  width: 100%;
  height: auto;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

a {
  text-decoration: none; }
  a:visited {
    color: #999900; }

@keyframes wizzle {
  2% {
    transform: translate(1px, 5px) rotate(-5.5deg) scale(1.1); }
  32% {
    transform: translate(2px, 10px) rotate(-0.5deg); }
  38% {
    transform: translate(-7px, 9px) rotate(5.5deg) scale(1.2); }
  48% {
    transform: translate(-6px, -2px) rotate(-2.5deg) scale(1.1); }
  52% {
    transform: translate(5px, 10px) rotate(-1.5deg) scale(1.1); }
  60% {
    transform: translate(4px, -5px) rotate(3.5deg) scale(1.2); }
  66% {
    transform: translate(-8px, -9px) rotate(-2.5deg); }
  76% {
    transform: translate(2px, 5px) rotate(-1.5deg) scale(1.1); }
  82% {
    transform: translate(-9px, -4px) rotate(0.5deg); }
  86% {
    transform: translate(-7px, 6px) rotate(-0.5deg) scale(1.2); }
  90% {
    transform: translate(1px, -3px) rotate(-0.5deg) scale(1.2); }
  98% {
    transform: translate(-8px, -7px) rotate(-2.5deg); } }
.btn {
  background-color: green;
  margin-bottom: 15%;
  color: yellow;
  text-shadow: 4px 6px 4px #b3b300;
  border: 2px solid yellow;
  border-radius: 20%;
  box-shadow: 4px 6px 4px #b3b300; }
  .btn:hover {
    animation-name: wizzle;
    animation-timing-function: ease-in-out;
    animation-duration: 1500ms; }

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 5em; }

  h2 {
    display: none; }

  .french, .papilla, .taste {
    margin-top: 15%;
    margin-bottom: 30%;
    font-size: 0.95em;
    font-family: 'kalam'; }

  .menu {
    margin: 10%; }
    .menu--title {
      font-size: 1.3em; }

  #soon {
    padding-left: 0.2em;
    padding-right: 0.2em; }

  #footer {
    font-size: 1em; } }
@media screen and (max-width: 700px) {
  h1 {
    font-size: 3em; }

  #header {
    width: 100%;
    height: auto; }

  .french, .papilla, .taste {
    margin-top: 15%;
    margin-bottom: 30%;
    font-size: 0.7em;
    font-family: 'kalam'; }

  .menu {
    margin: 10%;
    width: 100%; }
    .menu__slate {
      width: 90%;
      background-image: url("../image/lit-menu.png");
      background-repeat: repeat;
      display: block; }
    .menu__title {
      font-size: 1.9em; }

  #footer {
    font-size: 0.82em; }

  #top, #down {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .btn:active {
    animation-name: wizzle;
    animation-timing-function: ease-in-out;
    animation-duration: 1500ms; }

  .enchanted__img--top {
    width: 35px;
    height: 35px; }
  .enchanted__img--down {
    display: none; }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block; }

  .uline {
    display: none; } }

/*# sourceMappingURL=testt.css.map */
